<form method="post" action="process">
    <input name="authenticity_token" value="<%= form_authenticity_token%>" type="hidden">
    <p><input type="text" name="name" placeholder="Enter name"></p>
    <button>Submit</button>
</form>
